body{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    
}
.slider{
    display: flex;
}
button{
    font-size: 40px;
}
img{
    width: 50vw;
    height: auto;
}
.show{
    display: block;
}
.hide{
    display: none;
}
